<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Excimer UI Server{% endblock %}</title>

    {% block styles %}
        <style>
            html, body {
                background-color: #f0f0f0;
                padding: 0;
                margin: 0;
                font-size: 20px;
                height: 100%;
            }

            .app {
                padding: 0;
                margin: 0 auto;
                height: 100%;
            }
        </style>
    {% endblock %}
</head>
<body>
<div class="app">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>